@using Videobutik1.Models
@model IEnumerable<Videobutik1.Models.RentalModelNames>

@{
    ViewBag.Title = "All Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Rentals</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RentalCustomerDetails</title>
</head>
<body>

    <p>
        @Html.ActionLink("New Rental", "CreateRental")
    </p>


    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Movie", "ListRentals", new { sortOrder = ViewBag.MovieSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualReturnDate)
            </th>
            <th>
                @Html.ActionLink("Customer", "ListRentals", new { sortOrder = ViewBag.CustomerSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string warningcolor = "";
            if (((item.ActualReturnDate == null && DateTime.Parse(item.LastReturnDate) < DateTime.Today)) || ((item.ActualReturnDate != null) && (DateTime.Parse(item.LastReturnDate) < DateTime.Parse(item.ActualReturnDate))))
            { warningcolor = "red"; }
            <tr style="background-color: @warningcolor">

                <td>
                    @Html.Action("RentalMovieDetails", new { MovieId = item.MovieId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualReturnDate)
                </td>
                <td>
                    @Html.Action("RentalCustomerDetails", new { CustomerId = item.CustomerId })
                </td>
                @if (item.ActualReturnDate == null)
                {
                    <td>
                        @Html.ActionLink("Return movie", "DeleteRental", item)
                    </td>
                }

            </tr>
        }
    </table>
</body>
</html>
